:root{
    --darkest:#0B3948;
    --dark-grey:#416165;
    --light-purple:#ACB0BD;
    --lighter-purple:#ACB0BD;
    --lightest:#D9DBF1;
}

.container{
  background-color: var(--darkest);
  min-height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
